<!DOCTYPE html>
<html>
<head>
	<title>MY FIRST DJANGO APPLICATION</title>
 {% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}"
      rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap.css' %}"
      rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap.css.map' %}"
      rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap-theme.css' %}"
      rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap-theme.css.map' %}"
      rel="stylesheet" media="screen">
<link href="{% static 'css/bootstrap-theme.min.css' %}"
      rel="stylesheet" media="screen">
</head>
<body>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>
<script src="{% static '/js/npm.js' %}"></script>
 <div class="container">
	<div class="jumbotron">
    <h1>MY FIRST BOOTSTRAP APPLICATION</h1>
    <img src="{% static "img/image.jpg"  %}"    width="400" /><br />
  </div>  
<div class="row">
     <div class="col-sm-4"> 
     <a href="new2">TO TABLE BOOK</a>  
    </div>
 
     <div class="col-sm-4"> 
     <a href="home">TO TABLE BOOK</a>  
    </div>
 
    <div class="col-sm-4"> 
     <a href="new">TO TABLE BOOK</a>  
    </div>
    <div class="col-sm-4"> 
     <a href="formw">FORM</a>  
    </div>
  
  </div>
 



       
	

<form role="form"method="post" action="/add/">{% csrf_token %}
  <div class="form-group">
    <label for="email">FIRST NAME:</label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="enter your first name here">
  </div>
  <div class="form-group">
    <label for="pwd">LASTNAME:</label>
   <input type="text" class="form-control" id="lastname" name="lastname" placeholder= "enter your last name here">
  </div>
<label for="pwd">EMAIL:</label>
   <input type="text" class="form-control" id="email" name="email" placeholder="enter email here" >
<label for="pwd">PHONENUMBER:</label>
   <input type="number" class="form-control"  name="phonenumber" placeholder="enter phonenumber here" >
<label for="pwd">ADDRESS:</label>
   <input type="text" class="form-control" name="adddress" placeholder="enter address here" >
<label for="pwd">STATE:</label>
   <input type="text" class="form-control"  name="sttate" placeholder="enter your state here" >
<label for="pwd">CITY:</label>
   <input type="text" class="form-control" name="ciity" placeholder="enter your city here" >
<label for="pwd">COUNTRY:</label>
   <input type="text" class="form-control"  name="couuntry" placeholder="enter country here" >
  
  <button type="submit" class="btn btn-default">submit</button>
</form>

</div>
</body>
</html>
